:root {
  --orange: #dfa21f;
  --green: #6ec45b;
  --red: 	#ee506d;
  --background: #474747;
  --shapes: #282828;
  --text-title: #fff7e7;
  --text: #ededed;
  --text-light: #c0c0c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}